.contact-container{
    padding: 12px;
}

.contact-container h2{
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-transform: uppercase;
    color: #304352;
    margin: 50px auto;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
}

.contact-container h2 span{
    color: rgba(41,51,71,0.65);
    font-size: 0.7em;
    text-transform: none;
    margin-left: 12px;
    margin-left: auto;
}

.contact-container .email-adress{
    font-weight: lighter;
    color: #304352;
    max-width: 600px;
    margin: 12px auto;
    margin-bottom: 50px;
    text-align: left;
}

.contact-container .email-adress p{
    font-size: 1.4em;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(41,51,71,0.65);
    padding-bottom: 24px;
}

.contact-container .email-adress span{
    position: relative;
    display: block;
    color: rgba(41,51,71,0.65);
}
.contact-container .email-adress span::before, .contact-container .email-adress span::after{
    content: '';
    position: absolute;
    height: 1px;
    width: calc(50% - 30px);
    left: 12px;
    top: calc(50% - 1px);
    background: rgb(208, 214, 226);
    display: none;
}
.contact-container .email-adress span::after{
    left: calc(100% - 12px);
    transform: translateX(-100%);
    display: block;
}


.contact-form{
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 12px;
    color: #293347;
}

.contact-form label{
    font-weight: 100;
    color: rgba(41,51,71,0.65);
}

.contact-form input, .contact-form .message textarea{
    padding: 18px;
    border-radius: 6px;
    border: 1px solid rgb(208, 214, 226);
    width: 100%;
    font-size: 1em;
    color: #293347;
    margin-top: 12px;
    font-weight: 300;
}

.contact-form .message textarea{
    max-width: 100%;
    min-width: 100%;
}

.contact-form .message{
    grid-column-start: 1;
    grid-column-end: 3;
}


#send-btn{
    margin: 0px auto;
    margin-top: 24px;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 135px;
    min-height: 50px;
    padding: 12px 18px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #3f51b5;
    background-image: linear-gradient(-60deg, rgb(247, 107, 26) 0%, #f09819 100%);
    border: none;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-shadow: 1px 0 1px rgba(0, 0, 0, .3);
}
#send-btn i{
    color: #fff;
}

#send-btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .contact-form{
        display: flex;
        flex-direction: column;
    }

    .contact-form .name, .contact-form .email, .contact-form .message{
        margin-top: 24px;
    }

    .contact-container h2 span{
        font-size: 0.6em;
    }
}



.contact-result-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.363);
    z-index: 9;
}


#success-text, #error-text{
    width: 80%;
    max-width: 500px;
    background: rgb(255, 255, 255);
    padding: 50px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 200;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
    color: #293347;
    z-index: 10;
}
#error-text p{
    font-size: 0.6em;
}

#success-text i, #error-text i{
    display: block;
    padding: 12px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 12px;
    font-size: 2.4em;
    color: rgb(15, 199, 15);
}
#error-text i{
    color: red;
}

#success-close, #error-close{
    position: absolute;
    height: 50px !important;
    width: 50px !important;
    top: 0;
    right: 0;
    font-size: 24px !important;
    color: rgba(0, 0, 0, 0.74) !important;
    cursor: pointer;
}

#success-text.show-success-text, #error-text.show-error-text{
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(-50%, -50%) scale(1) !important;
}

.hide-success-text{
    transform: scale(0);
}


.loading{
    position: absolute;
    height: 28px;
    width: 28px;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    animation: loader 0.7s linear infinite;
}


@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}