.intro{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    position: relative;
}

.intro .text{
    font-size: 2.5em;
    opacity: 0;
    width: 50%;
    animation: showIntroText 1s ease-in-out 1.5s forwards;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding: 24px;
}

.intro .intro-icon{
    width: 50%;
    padding: 24px;
}
.intro .intro-icon img{
    width: 100%;
}

.intro .text p{
    font-size: 16px;
    padding: 0px 24px;
    font-weight: 100;
}

.intro .text h2{
    color: rgba(255, 255, 255, 0.952);
    color: #2b76b9;
    color: #4d5563;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
    position: relative;
    padding: 0px 24px;
    opacity: 0;
    animation: showIntroText 1s ease-in-out 1.5s forwards;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-weight: 300;
    margin-left: -5px;
}

@keyframes showIntroText {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.intro-btns{
    margin: 12px 0px;
}

.intro-btns a{
    display: inline-block;
    background-color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0.99;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.intro-btns a::before{
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
    background-color: #333;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.intro-btns a i{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    color: #333;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.intro-btns a:focus::before, .intro-btns a:hover::before{
    top: -10%;
    left: -10%;
}

.intro-btns a:focus i, .intro-btns a:hover i{
    color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}






@keyframes showIntroButton {
    0%{
        transform: scale(0, 1);
    }
    85%{
        transform: scale(0, 1);
    }
    90%{
        transform: scale(1.3, 1);
    }
    95%{
        transform: scale(0.8, 1);
    }
    100%{
        transform: scale(1);
    }
}


/* Media queries */

@media screen and (max-width: 800px){

}



svg{
    z-index: 1;
    bottom: 0;
    left: 0;
}