.intro{
    min-height: 100vh;
    width: 100vw;
    margin: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    background-image: linear-gradient(60deg, #4465c0 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background: white;
    /* background-size: 400% 100%; */
    transform: translateZ(30deg, -12px);
    animation: Gradients 15s ease infinite;
    position: relative;
}

@keyframes Gradient {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 100% 0%
	}
	100% {
		background-position: 0% 0%
	}
}

.bg-intro{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background: red;
}
.bg-intro img{
    position: absolute;
    bottom: -100px;
    width: 100%;
    min-width: 1000px;
}

.intro .text{
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}

.intro .text h2{
    color: rgba(255, 255, 255, 0.952);
    color: #2b76b9 !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
    position: relative;
    padding: 24px;
    opacity: 0;
    animation: showIntroText 1s ease-in-out 1s forwards;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes showIntroText {
    0%{
        opacity: 0;
        filter: blur(100px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

.intro-btns{
    margin: 12px 0px;
}

.intro .text button{
    height: 50px;
    padding: 0px 24px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.5em;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    animation: showIntroButton 2.4s linear;
    margin-right: 12px;
    background-image: linear-gradient(to bottom, #ffffff8c 10%, rgba(0, 0, 0, 0) 40%);
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    color: #2b76b9 !important;
}

.intro .text button:hover{
    box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);
    transform: translate(0px, -10px);
}

.intro .text button i{
    color: white;
    margin-left: 12px;
}

@keyframes showIntroButton {
    0%{
        transform: scale(0, 1);
    }
    85%{
        transform: scale(0, 1);
    }
    90%{
        transform: scale(1.3, 1);
    }
    95%{
        transform: scale(0.8, 1);
    }
    100%{
        transform: scale(1);
    }
}


/* Media queries */

@media screen and (max-width: 800px){

}