.joiner-1{
    height: 200px;
    width: 100%;
    background: red;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, white 80%);
    position: absolute;
    top: calc(100% - 200px);
    animation: showJoiner1 4s ease-in-out;
}

@keyframes showJoiner1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.joiner-2{
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), white 80%);
    position: absolute;
    bottom: calc(100% - 200px);
    animation: showJoiner1 4s ease-in-out;
}