/*@import './navbar.css';
@import './intro.css';
@import './portfolio.css';
@import './contact.css';
@import './project-1.css';*/

html{
    overflow-x: hidden;
}

body{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'europa', sans-serif;
}

*:focus{
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

i{
    color: rgba(0, 0, 0, 0.712);
}
