.navbar{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 10;
    font-weight: 100;
    color: white;
}

.navbar .brand{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    animation: all 0.3s ease-in-out;
    max-width: 40vw;
}

.navbar .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
    max-width: 300px;
    margin-left: auto;
}

.navbar .mobile-menu{
    display: none;
    height: 32px;
    width: 32px;
    margin-left: auto;
    position: relative;
    padding: 12px;
}

.navbar .mobile-menu span{
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 2px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.navbar .mobile-menu span:nth-child(2){
    top: calc(50% - 10px);
}
.navbar .mobile-menu span:nth-child(3){
    top: calc(50% + 10px);
}

/* Media queries */

@media screen and (max-width: 800px){
    .navbar{
        padding: 12px;
        height: auto;
        position: fixed;
    }
    .navbar .menu{
        display: none;
    }
    .navbar .mobile-menu{
        display: block;
    }
}