.portfolio{
    background: white;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.portfolio .portfolio-title{
    width: 100%;
    margin: 0px;
    padding: 24px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #304352;
    text-align: center;
    padding: 48px 24px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    position: relative;
}

@media screen and (max-width: 800px){
    .portfolio{
        padding: 50px 0px;
    }

    .portfolio .portfolio-title{
        position: relative;
        z-index: 1;
        margin-bottom: 100px;
    }
}



/* Show Projects */

.show-info{
    transform: translateX(0%) !important;
    opacity: 1 !important;
}
