.portfolio{
    background: linear-gradient( #dfacbd, rgb(255, 213, 121), rgb(173, 226, 255));
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.portfolio .portfolio-title{
    width: 100%;
    padding: 24px;
    margin-bottom: 200px;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    position: sticky;
    height: 80px;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.portfolio .project{
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-column-gap: 50px;
    align-items: center;
    padding: 10vw 5vw;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
}
.portfolio .project:nth-child(3){
    grid-template-columns: 5fr 3fr;
}



.portfolio .project .project-images{
    height: 50vh;
    position: relative;
}
.portfolio .project .project-images .desktop-img-1, .portfolio .project .project-images .desktop-img-2{
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: 1;
}
.portfolio .project .project-images .phone-img-1, .portfolio .project .project-images .phone-img-2{
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: absolute;
    top: 60%;
    left: 0%;
    z-index: 2;
}



.portfolio .project .project-info{
    padding: 24px;
}
.portfolio .project .project-info h4{
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
}

.portfolio .project .project-info .project-stack i{
    font-size: 1.5em;
    margin: 0px 12px;
    margin-top: 12px;
    color: white;
}

.portfolio .project .project-info .project-description{
    color: rgba(255, 255, 255, 0.863);
}

.portfolio .project-info .project-btns button{
    height: 50px;
    padding: 0px 24px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    animation: projectBtnHover 2s ease-in-out;
    animation-play-state: paused;
    margin-right: 12px;
}

.portfolio .project-info .project-btns button:hover{
    background-position: right center;
    animation-play-state: running;
}


.portfolio .project-info .project-btns i{
    margin-left: 12px;
    color: rgb(255, 255, 255);
}

@keyframes projectBtnHover {
    0%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}