.project{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-column-gap: 12px;
    align-items: center;
    padding: 24px;
    height: 100vh;
    max-height: 1000px;
    width: 100vw;
    max-width: 1200px;
    position: relative;
    color: #2c3e50;
    z-index: 1;
    margin: 0px auto;
}

/* Images */

.project .project-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.project .project-images .desktop-img-1{
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 1;
}



.project-info .stack{
    font-weight: 700;
    text-transform: uppercase;
    color: #a9b0be;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 0px;
    margin-top: 12px;
}

.project .project-info{
    padding: 24px;
    z-index: 2;
    opacity: 0;
    transform: translateX(-20%);
    transition: all 1s ease-in-out;
    z-index: 0;
}

.project .project-info .project-title{
    font-size: 2.4em;
    font-weight: 400;
    transition: all 1s ease-in-out;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    position: relative;
    margin-left: -2px;
    color: #2c3e50;
}

.project .project-info .project-description{
    margin-bottom: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: rgb(99, 99, 99);
}

.project-info .project-btns .btn-1{
    border: none;
    padding: 18px 24px;
    transition: all 0.2s ease-in-out;
    color: white;
    background-image: linear-gradient(-60deg, rgb(247, 107, 26) 0%, #f09819 100%);
    position: relative;
    overflow: hidden;
    margin-right: 12px;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    min-width: 120px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.project-info .project-btns .btn-2{
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    background: none;
    border: none;
    padding: 18px 24px;
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #00a9b2;
    background: linear-gradient(to bottom right,#408488, #00a9b2);
    background: #19304B;
    background: linear-gradient(to bottom right, #19304B, #00a9b2);
    cursor: pointer;
    min-width: 120px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.project-info .project-btns .btn-2:hover i{
    color: white;
}

.project-info .project-btns button i{
    margin-left: 6px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.project-info .project-btns button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-4px);
    opacity: 1;
}


@keyframes projectBtnHover {
    0%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}







/* Media queries */

@media screen and (max-width: 800px){

    .project{
        display: block;
        max-height: none !important;
        height: auto !important;
    }


    .project .project-images{
        width: 100%;
        position: relative;
        padding: 0px;
    }

    .project .project-images .desktop-img-1{
        width: 100%;
        box-shadow: none;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .project .project-info{
        z-index: 2;
        opacity: 1;
        transform: translateX(0%);
        margin-top: 50px;
        padding: 0px;
        text-align: center;
    }

    .project-info .project-btns{
        width: 100%;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .project-info .project-btns button{
        margin-right: 0px;
    }

}
