.project{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-column-gap: 50px;
    align-items: center;
    padding: 24px;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    position: relative;
    color: #2c3e50;
    z-index: 1;
}

/* Images */

.project .project-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.project .project-images .desktop-img-1{
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 1;
}
.project .project-images .phone-img-1{
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: absolute;
    top: -100%;
    left: 0%;
    z-index: 2;
    display: none;
}
/* **** */



.project-info .stack{
    font-weight: 700;
    text-transform: uppercase;
    color: #a9b0be;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 0px;
    margin-top: 12px;
}

.project .project-info{
    padding: 24px;
    z-index: 2;
    opacity: 0;
    transform: translateX(-20%);
    transition: all 1s ease-in-out;
    z-index: 0;
}

.project .project-info .project-title{
    font-size: 2.4em;
    font-weight: 400;
    transition: all 1s ease-in-out;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    position: relative;
    margin-left: -2px;
    color: #2c3e50;
}

.project .project-info .project-description{
    margin-bottom: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: rgb(99, 99, 99);
}

.project-info .project-btns .btn-1{
    border: none;
    padding: 18px 24px;
    transition: all 0.2s ease-in-out;
    color: white;
    background-image: linear-gradient(-60deg, rgb(247, 107, 26) 0%, #f09819 100%);
    position: relative;
    overflow: hidden;
    margin-right: 12px;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    min-width: 120px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
}

.project-info .project-btns .btn-2{
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    background: none;
    border: none;
    padding: 18px 24px;
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #00a9b2;
    background: linear-gradient(to bottom right,#408488, #00a9b2);
    background: #19304B;
    background: linear-gradient(to bottom right, #19304B, #00a9b2);
    cursor: pointer;
    min-width: 120px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
}
.project-info .project-btns .btn-2:hover i{
    color: white;
}

.project-info .project-btns button i{
    margin-left: 6px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.project-info .project-btns button:hover{
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.363);
    transform: translateY(-4px);
    transform: scale(1.1);
}


@keyframes projectBtnHover {
    0%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}







/* Media queries */

@media screen and (max-width: 800px){

    .project{
        display: flex;
        flex-direction: column;
    }


    .project .project-images{
        height: 50vh;
        width: 100%;
        position: relative;
    }

    .project .project-images .desktop-img-1{
        width: 100%;
    }

    .project .project-images .phone-img-1{
        min-height: 40vw;
        height: 70%;
        top: 100%;
        right: 100%;
        border-radius: 14px;
    }

    .project-info{
        padding-top: 0px !important;
        margin-top: -24px;
    }

    .project-info .project-btns{
        width: 85vw;
        margin-top: 24px;
        display: flex;
        align-items: center;
    }

    .project-info .project-btns button{
        margin-right: 12px;
    }

}