body{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

i{
    color: rgba(0, 0, 0, 0.712);
}

/* Navbar */

.navbar{
    display: flex;
    height: 80px;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-weight: 100;
    color: white;
}


.navbar .brand{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    animation: all 0.3s ease-in-out;
}

.navbar .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
    max-width: 300px;
}

/* Intro */

.intro{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #D5B7C1, #2C5364);
}

.intro .text{
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}

.intro .text h2{
    margin: 6px 0px;
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
    position: relative;
    padding: 24px 0px;
}

.intro .text h2::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: calc(50% - 100px);
    width: 200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.466);
}

.intro-btns{
    margin: 24px 0px;
}

.intro .text button{
    padding: 18px;
    background-color: rgb(155, 65, 65);
    width: 150px;
    border-radius: 2px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

/* ****** */



/* Container 2 */

.container-2{
    background: linear-gradient( #D5B7C1, rgb(255, 213, 121));
    width: 100vw;
    margin: 0px;
    padding: 100px 20vw;
}

.container-2 h2{
    width: 100%;
    padding: 24px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    position: sticky;
    height: 80px;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 .portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.container-2 .portfolio .project{
    background: url('./Portfolio vectors/3012.jpg') no-repeat;
    background-size: 140%;
    background-position: center;
    padding: 0px;
    height: 20vw;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* ****** */



/* Container 3 */

.container-3{
    background: #005AA7;
    background: -webkit-linear-gradient(to bottom, rgb(255, 213, 121), #2C5364);
    background: linear-gradient(to bottom, rgb(255, 213, 121), #2C5364);
    height: 100vh;
    width: 100vw;
}
/* ***** */


/* Footer */

.footer{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 400px;
    width: 100%;
}